@use "sass:math";
// 色
$white: #fff;
$black: #000;
$black2: #242424;
$black3: #001135;
$black4: #011950;
$gray: #e2e2e2;
$gray2: #a9a9a9;
$gray3: #f8f8f8;
$gray4: #e9eeef;
$gray5: #e4e4e4;
$brown: #626262;
$blue: #011950;
$blue2: #001e63;
$red: #e20000;
